<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ITSC Services Map</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <!-- endbower -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body ng-controller="MainController">
    <div class="container-fluid" ng-controller="AdminController">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options" id="itsc-map">
          <!--<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">-->
          <!--<ui-gmap-window options="windowOptions" closeClick="closeClick()" templateUrl="'templates/windowContent.html'" templateParameter="windowParams">-->
          <!--</ui-gmap-window>-->
          <!--</ui-gmap-marker>-->
          <ui-gmap-markers models="markersArray" coords="'self'" options="'options'" click="onClick">
            <ui-gmap-windows>
              <div>
                <h5>{{title}}</h5>
                <img ng-src="{{image_url}}" class="img-responsive"  style="max-width: 100%; max-height:350px"/>
              </div>
            </ui-gmap-windows>
          </ui-gmap-markers>
        </ui-gmap-google-map>
        <hr>
        <button ng-click="setHeight(400)">Test</button>
        <button class="btn btn-primary" ng-click="reloadMap()">Preview Changes</button>
        <button class="btn btn-success" ng-click="saveMap()">Save Changes</button>
        <span class="label label-warning">*Please make sure the map data is correct before "Save Map"</span>

        <!-- JSON Editor-->
        <json-editor schema="jsonSchema" startval="myStartVal"
                     on-change="onChange($editorValue)">
        </json-editor>
        <button class="btn btn-warning" ng-click="layout.showJson = !layout.showJson">Show Json (for debug use)</button>
        <pre ng-show="layout.showJson">{{newJsonData | json}}</pre>
        <hr>
        <!--<div>-->
          <!--<p>For Debug only: (will not be shown to public)</p>-->
          <!--<pre>{{mapJson | json:4}}</pre>-->
        <!--</div>-->

        <div class="badge pull-right">V1.1</div>
        <div class="label label-primary pull-left">Last Updated: 15 MAY 2016</div>
    </div>


    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!--Auto-generated by grunt-->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <script src="bower_components/json-editor/dist/jsoneditor.js"></script>
    <script src="bower_components/angular-json-editor/src/angular-json-editor.js"></script>
    <!-- endbower -->
    <script src="https://use.fontawesome.com/a4456d7f85.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
